<html lang="en">
   <head>
      <link rel="stylesheet" href="assets/css/styles.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
   </head>
   <body>
      <div id=e181_2317>
         <div id=e191_3154>
            <br>
            <table>
               <% var no=1; %>
               <thead class="thead-light ojy">
                  <tr>
                     <th width="5%" class="text-center text-center nox">NO</th>
                     <th width="10%" class="text-center timex">TIMESTAMP</th>
                     <th width="20%" class="text-center vix">PLAT NOMOR</th>
                     <th width="10%" class="text-center muatix">JENIS MUATAN</th>
                     <th width="20%" class="text-center asix">ASAL MUATAN</th>
                     <th width="10%" class="text-center berix">BERAT MUATAN</th>
                  </tr>
               </thead>
               <tbody>
                  <% var no=1; %>
                  <% if (data) {%>
                     <% data.forEach(function(list) {%>
                  <tr>
                     <th width="5%" class="text-center nomor nmrz">
                        <%= no++ %>
                     </th>
                     <td width="10%"  class="text-center time">
                        <%= list.created %>
                     </td>
                     <td width="10%" class="text-center vin">
                        <%= list.vin %>
                     </td>
                     <td width="20%" class="text-center batu">
                        <%= list.jenis_muatan %>
                     </td>
                     <td width="20%" class="text-center asal">
                        <%= list.asal_muatan %>
                     </td>
                     <td width="10%" class="text-center berat">
                        <%= list.berat_muatan %>
                     </td>
                  </tr>
                  <% }) %>
                  <% }else{ %>
                  <tr>
                     <td colspan="5" class="text-center">
                        Data Kosong !
                     </td>
                  </tr>
                  <% } %>
               </tbody>
            </table>
            <div id=e186_2921><span  id="ei186_2921_97_229"><b>TABEL DATA <%= title %></b></span></div>
         </div>
         <div id=e191_3156><span  id="ei191_3156_97_229"><b>LAPORAN DATA <%= title %></b></span></div>
         <div  id="e191_3155"></div>
         <div id=e191_3185>
            <hr class="hrz">
            <div id=e191_3164><span  id="e191_3163">Operator :</span></div>
            <div id=e191_3165><span  id="e191_3166"><b><%= operator.name %></b></span></div>
         </div>
         <div id=e191_3184>
            <div id=e191_3167><span  id="e191_3168">Lokasi Timbang :</span></div>
            <div id=e191_3169><span  id="e191_3170"><b><%= location %></b></span></div>
         </div>
         <div id=e191_3186>
            <div id=e191_3175><span  id="e191_3176">Tanggal Laporan :</span></div>
            <div id=e191_3177><span  id="e191_3178"><b><%= start %></b> to <b><%= end %></b></span></div>
           
         </div>
      </div>
   </body>
</html>